<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WorkTrackingConnectionString" connectionString="Data Source=SGOFCORPSQL52;Initial Catalog=OracleWorkMgmt;Integrated Security=False;User ID=OracleWorkMgmtDBO;Password=8D5dAeqpU7F6&amp;Zdy;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <appSettings>
    <add key="AzureStorageAccountContainer" value="YOURCONTAINER" />
  </appSettings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="OracleCOEWorkTracking.exe" arguments="" forwardWindowsAuthToken="true" startupTimeLimit="3600" requestTimeout="23:00:00" stdoutLogEnabled="false" stdoutLogFile="logs\stdout" />
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".resx" />
          <add fileExtension=".resx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>