<div class="modal-header">
  <h2 class="modal-title lead">{{ 'RequestLoggedSuccessfully' | translate }}</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>{{ 'RequestNumber' | translate }} {{Request?.id}} {{'HasBeenCreated' | translate}}</h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">{{ 'OK' | translate }}</button>
</div>



